<% i=1 %>
<% @comments.each do |comment| %>
	<p>	
	<strong>Comment: <%= i.to_s %></strong>
	<% if comment.user_id.blank? %>
		<p><%= comment.content %><br> Made By: No User</p>
	<% else %>
		<p><%= comment.content %><br> Made By: <%= @users.find(comment.user_id).email %> On: <%= comment.created_at %></p>
	<% end %>
	<% i+= 1 %>
	</p>
<% end %>

<%= render 'comments/form' %>

