<%= form_for(restaurant) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <% if restaurant.name.blank? %>
 		<%= f.text_field :name %>   
    <% else %>
		<%= restaurant.name %>    	
    <% end %>

  </div>

  <div class="field">
    <%= f.label :street %>
    <% if restaurant.street.blank? %>
    	<%= f.text_field :street %>     
    <% else %>
		<%= restaurant.street %>    
    <% end %>

  </div>

  <div class="field">
    <%= f.label :city %>
    <% if restaurant.city.blank? %>
    	<%= f.text_field :city %>      
    <% else %>
 		<%= restaurant.city %>  
    <% end %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <% if restaurant.state.blank? %>
    	<%= f.text_field :state %>     
    <% else %>
 		<%= restaurant.state %>   
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
