<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Will split</th>
      <th>Wont split</th>
      <th>Details</th>
      <% if user_signed_in? %>
      	<th>+</th>
      	<th>-</th>
      <% end %>
      <th>Last Voted On</th>
      <th>By: </th>
    </tr>
  </thead>
  
  <% if @restaurants.blank? %>
   <h4> There are no restaurants with that name or location name</h4>
  <% end %>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.street %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.get_upvotes.size %></td>
        <td><%= restaurant.get_downvotes.size %></td>
        <td><%= link_to 'Comments', restaurant %></td>
        <% if user_signed_in? %>
        	<td><%= link_to  'Will split', will_restaurant_path(restaurant), method: :put %></td>
        	<td><%= link_to 'Wont Split', wont_restaurant_path(restaurant), method: :put %></td>
        <% end %>
        <% if restaurant.get_upvotes.size > 0 || restaurant.get_downvotes.size > 0 %>
        	<td><%= @votes.where(votable_id: restaurant.id).last.created_at.to_s %></td>	
			<td><%= @users.where(id: @votes.where(votable_id: restaurant.id).last.voter_id).last.email  %></td>
		<% else %>
			<td>No votes yet</td>
			<td>No votes yet</td>
		<% end %>
        <% if user_signed_in? %>
        	<% if Favorite.find {|favorite| favorite.restaurant_id == restaurant.id && favorite.user_id == current_user.id }.blank? %>
        		<td><%= link_to  'Favorite?', favorite_restaurant_path(restaurant), method: :put %></td>
        	<% else %>
        		<td>Already a favorite!</td>
        	<% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
<%= link_to 'Newest', restaurants_path %></button>
<%= link_to 'Previous 10 Restaurants', restaurants_previous_path %>
<%= link_to 'Next 10 Restaurants', restaurants_next_path %>
</div>

<br>
<div>
<% if user_signed_in? %>
	<%= link_to 'Add New Restaurant', new_restaurant_path %>
<% end %>	

</div>
<br>
