<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @restaurant.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>	

<p>
	
<p>
  <%= render 'comments/comment' %>
</p>


<%= link_to 'Back', restaurants_path %>
