<p id="notice"><%= notice %></p>

<h1>User History For: <%= current_user.email %></h2>

<h2>User Comment History</h2>
  <% if @comments.blank? %>
    <h4><%= current_user.email %> has not yet made any comments.</h4>
  <% else %>
	<table>
  		<thead>
    		<tr>
      			<th>Comment</th>
      			<th>About</th>
      			<th>On</th>
    		</tr>
  		</thead>
  		<tbody>
    		<% @comments.each do |comment| %>
      			<tr>
        			<td><%= comment.content %></td>
        			<td><%= Restaurant.where(id: comment.restaurant_id).last.name.to_s %></td>
        			<td><%= comment.created_at %></td>
      			</tr>
    		<% end %>
  		</tbody>
	</table>
  <% end %>

<h2>User Voting History</h2>
  <% if @votes.blank? %>
    <h4><%= current_user.email %> has not voted yet.</h4>
  <% else %>
	<table>
  		<thead>
    		<tr>
      			<th>Voted On</th>
      			<th>Voted</th>
      			<th>On</th>
    		</tr>
  		</thead>
  		<tbody>
    		<% @votes.each do |vote| %>
      			<tr>
        			<td><%= vote.votable_id %></td>
        			<% if vote.vote_flag == true %>
        				<td>Will Split</td>
        			<% else %>
        				<td> Wont Split</td>
        			<% end %>
        			<td><%= vote.created_at %></td>
      			</tr>
    		<% end %>
  		</tbody>
	</table>
  <% end %>
<h2>User Favorites</h2>
  <% if @favorites.blank? %>
    <h4><%= current_user.email %> has no favorites.</h4>
  <% else %>
	<table>
  		<thead>
    		<tr>
      			<th>Restaurant Name</th>
      			<th>Favorited On</th>
    		</tr>
  		</thead>
  		<tbody>
    		<% @favorites.each do |favorite| %>
      			<tr>
        			<td><%= Restaurant.where(id: favorite.restaurant_id).last.name.to_s %></td>
        			<td><%= favorite.created_at %></td>
      			</tr>
    		<% end %>
  		</tbody>
	</table>  
  <% end %>
<br>
<%= link_to 'Back', restaurants_path %>
