// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurants {
  table {
    border-collapse: collapse;
  }
  
  table, th, tr, td {
    border: 1px solid black;
    padding: 7px;
    vertical-align: top;
  }
 
   
  
}
