<!DOCTYPE html>
<html>
  <head>
    <title>Split</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
  	<div id="banner">
  	  <h1>Do they split the check?</h1>
  	  <h2>A listing of restaurants that split the check</h2>	
  	</div>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if user_signed_in? %>
        <%= current_user.email %>
    	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %> 
    	<%= link_to 'User History', restaurants_user_history_path %>
    <% else %>
    	<%= link_to "Sign Up", new_user_registration_path %>
    	<%= link_to "Sign In", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
  
  <%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</html>
